<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
<!--- Javascript imports -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<div class="card m-0 p-5 d-flex align-items-center justify-content-center">
    <div class="row">
        <div class="container d-flex align-items-center justify-content-around left-container" style="flex-direction: column;">
            <!-- Photo & Title -->
            <h1 class="underline"><%= item.title %></h1>

            <div class="row-sm-6 shadow container image mb-2">
                <img referrerPolicy="no-referrer" src="<%= item.coverImg %>"/>
            </div>
           <div class="row-sm-6 container shadow">
               <!-- Ratings -->
                <ul class="list-group list-group-horizontal-sm w-100">
                    <li class="list-group-item d-flex align-items-center justify-content-center"><span class="bold">豆瓣 <br/> 评分</span></li>
                    <li class="list-group-item d-flex align-items-center justify-content-center rating">
                        <h3><%= item.rating %></h3>
                        <span class="badge rounded-pill">共<%= item.rating_no %>人评分</span>                    
                    </li>
                    </ul>                  
           </div>
        </div>
        <div class="table-container p-2 d-flex align-items-center justify-content-center">
            <!-- Details -->
            <table class="table table-sm table-borderless">
                <tbody>
                    <tr>
                        <th>副标题</th>
                          <td><%= item.subTitle %></td>
                    </tr>
                    <tr>
                      <th>原文</th>
                        <td><%= item.originalTitle %></td>
                    </tr>
                    <tr>
                      <th>作者</th>
                        <td><%= item.author %></td>
                    </tr>
                    <tr>
                      <th>译者</th>
                        <td><%= item.translator %></td>
                    </tr>
                  <tr>
                      <th>页数</th>
                     <td><%= item.length %></td>
                    </tr>
                    <tr>
                        <th>出版社</th>
                       <td><%= item.publisher %></td>
                      </tr>
                      <tr>
                        <th>出版日期</th>
                       <td><%= item.publishedYear %></td>
                      </tr>
                      <tr>
                        <th>ISBN</th>
                       <td><%= item.ISBN %></td>
                      </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>

<style>

@font-face {
  font-family: fenYuanTi;
  src: url('../../static/jf-openhuninn-1.1.ttf');
}

body {
    font-family: fenYuanTi;
    width: 100vw;
    height: 100vh;
}

.rating {
    flex-direction: column;
}

th {
    white-space: nowrap
}

td, th {
    color: #f3f3f3;

}

.left-container {
    height: fit-content;
    width: auto;
}

table {
    table-layout: auto;
}

.table-container {
    width: auto;
    height: auto;
    margin-left: auto;
    padding: 0;
}

.card {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    color: #f3f3f3;
}

.list-group-item {
    border-color: #f3f3f3;
    border-width: thin;
    border-style: dashed;
    background-color: #f8c46e;
    color: #f3f3f3;
}

.shadow {
    margin-right: auto;
    padding: 0;
    width: fit-content;
    box-shadow:  rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
}

.badge {
    background-color: #6EA2F8;
}

.underline {
  display: inline-block;
  margin: 3%;
  border-bottom: 3px solid #6EA2F8;
}



</style>

<!DOCTYPE html>
